/* this page holds conditional values of css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,900;1,400;1,900&display=swap");
@import-normalize;

:root {
  --primary-bg-color: #f5efe2;
  --secondary-bg-color: #6781dd;
  --primary-text-color: #092834;
  --secondary-text-color: #efede7;
  --warning-color: #f9ebeb;
  --primary-btn-color: #efb777;
  --primary-btn-shadow: 2px 0px 3px 0.5px rgba(71, 71, 71, 0.5);
  --input-focus-bg-color: white;
  --input-outline-color: lightgray;
  --primary-outline-color: rgb(255, 255, 255);
  --primary-hr-color: #f9d2d6;
}

.dark {
  --primary-bg-color: rgb(31, 30, 30);
  --secondary-bg-color: rgb(1, 42, 56);
  --secondary-text-color: rgb(225, 188, 85);
  --primary-btn-color: rgb(55, 159, 55);
  --primary-outline-color: white;
}

.disabled {
  --primary-btn-color: rgb(166, 164, 179);
}

.root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.error {
  color: var(--warning-color);
}

:focus {
  outline: solid 2px var(--primary-outline-color);
}

a {
  text-decoration: none;
}
