/* css for login page */

.form-card {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 15px;
  width: 500px;
  height: 300px;
  padding: 2em;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  box-shadow: 1px 15px 30px 0px var(--primary-shadow);
}
.form-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.submit {
  height: 400px;
}
.submit-flex {
  display: flex;
  flex-wrap: wrap;
}

.form-input {
  background-color: var(--primary-bg-color);
  border: none;
  margin: 1em;
  margin-left: 0;
  padding: 0.5em;
  height: 38px;
}

form label {
  display: flex;
  justify-content: left;
  margin-left: 1em;
}

.form-input:focus {
  background-color: var(--input-focus-bg-color);
}

.form-card h2 {
  font-size: 3em;
}

.form-card hr {
  margin-top: 1em;
  border: 2px solid var(--primary-hr-color);
  border-radius: 5px;
  width: 100%;
}

.form-card p {
  padding: 1em;
  border-top: 1px dotted var(--primary-hr-color);
  border-bottom: 1px dotted var(--primary-hr-color);
}

.form-back-btn {
  width: 100px;
  align-self: flex-start;
}

.error-placeholder {
  visibility: hidden;
}
