/* layout styles this pages holds css for generic elements*/

.root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--primary-bg-color);
}

header {
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: var(--secondary-bg-color);
  height: 10vh;
}

header h1 {
  font-weight: 900;
  font-size: 3rem;
  color: var(--secondary-text-color);
}

header a {
  color: var(--secondary-text-color);
}

main {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100vw;
}

section {
  height: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  width: 100px;
  height: 100%;
  background-color: var(--tertiary-bg-color);
}

button {
  background-color: var(--primary-btn-color);
  border-radius: 5px;
  border: none;
  padding: 0.5em;
  margin: 1em;
}

ul {
  list-style: none;
}

footer {
  height: 10vh;
  background: var(--quaternary-bg-color);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
